<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.mapper.SmbmsProviderMapper">
    <sql id="limitSql">
        <where>
            <if test="procode!=null and procode!=''">
                and proCode like concat('%',#{procode},'%')
            </if>
            <if test="proname!=null and proname!=''">
                and proName like concat('%',#{proname},'%')
            </if>
        </where>
    </sql>
    <select id="getCount" resultType="int">
        select count(*) from smbms_provider
        <include refid="limitSql"></include>
    </select>
    <select id="getLimit" resultType="SmbmsProvider">
        select  * from smbms_provider
        <include refid="limitSql"></include>
        limit #{from},#{pageSize}
    </select>
    <!--删除-->
    <delete id="delete" parameterType="int">
        delete from smbms_provider where id=#{id}
    </delete>
    <!--去修改-->
    <select id="getByid" resultType="SmbmsProvider">
        select * from smbms_provider where id=#{id}
    </select>
    <!--新增-->
    <insert id="insert" parameterType="SmbmsProvider">
          INSERT INTO smbms_provider
                VALUES
                (null,
                #{procode},
                #{proname},
                #{prodesc},
                #{procontact},
                #{prophone},
                #{proaddress},
                #{profax},
                #{createdby},
                now(),
               #{modifydate},
                #{modifyby}
                )
    </insert>

    <!--修改-->
    <update id="update" parameterType="SmbmsProvider">
        update smbms_provider
        <set>
            <if test="procode!=null and procode!=''">
                proCode=#{procode},
            </if>
            <if test="proname!=null and proname!=''">
                proName=#{proname},
            </if>
            <if test="prodesc!=null and prodesc!=''">
                proDesc=#{prodesc},
            </if>
            <if test="procontact!=null and procontact!=''">
                proContact=#{procontact},
            </if>
            <if test="prophone!=null and prophone!=''">
                proPhone=#{prophone},
            </if>
            <if test="proaddress!=null and proaddress!=''">
                proAddress=#{proaddress},
            </if>
            <if test="profax!=null and profax!=''">
                proFax=#{profax},
            </if>
            modifyBy=#{modifyby},
            modifyDate=now()
        </set>
        where id=#{id}
    </update>

    <select id="getAll" resultType="SmbmsProvider">
        select * from smbms_provider
    </select>
</mapper>
